body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a09e9e;
    color: #333;
}
header {
    background-color: #007bff;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-text h1 {
    margin: 0;
    font-size: 2.5em;
}

.header-text p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

nav {
    background-color: #333;
    color: white;
}

nav .container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007bff;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

h2 {
    border-bottom: 2px solid #007bff;
    display: inline-block;
    margin-bottom: 10px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.skills-list li {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.skills-list li:hover {
    background-color: #0056b3;
}

.project {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin: 0 0 10px;
}

.project a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.project a:hover {
    color: #0056b3;
}

.education-list {
    list-style: none;
    padding: 0;
}

.education-list li {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#download-resume {
    padding: 10px 20px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#download-resume:hover {
    background-color: #0056b3;
    color: white;
}
